# =========================
# Java / Maven
# =========================
target/
*.class

# =========================
# IDE
# =========================
.idea/
*.iml
.vscode/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Environment / Secrets
# =========================
.env
.env.*
application.yml
application-dev.yml

# =========================
# Logs
# =========================
*.log

# =========================
# Frontend
# =========================
frontend/node_modules/
frontend/dist/

# =========================
# Build
# =========================
*.jar
*.war